# this file should be copied to ~/.my.cnf on the remote, and to ~/.sync_dev_website/WHATEVER.mysql.cnf on the local
#
# it provides a securer way to get the password into mysql than specifying it on the command line
# and also allows passwords containing $ etc, which would otherwise be interpreted by the shell.
#
# MAKE SURE YOU SET PERMISSIONS ON THE FILE TO 600 SO NO-ONE ELSE CAN READ IT


[client]
user = username
password = password
