#! /bin/bash

#
# Configuration file for sync_dev_website and pull_assets
#
# Copy to ~/.sync_dev_website/yourwebsite.config and fill out the fields
#
#


NAME="Your Website Name"
MYSQLCNF="/path/to/a_my.cnf_file"							# if left empty or unset, script will use ~/.sync_dev_website/$1.mysql.cnf
REMOTEDIR="/path/to/website"								# Where's Wordpress on the remote?
LOCALDIR="/path/to/local/copy"								# Where's Wordpress locally?
REMOTEBIN="/path/to/bin"									# Remote Bin - where dumpfile.sh lives
DUMPFILE="/path/to/remote/dumpfile.sql"					 	# Where the database is dumped to on the remote
SERVER="servername"											# The Host name from your ~/.ssh/config for the remote server
LOCALISE_SQL="localise_database_durand.sql"					# The SQL to change the URL of site from live to dev


# These fields are only needed if you're storing assets or furniture outside the main WP directory

#REMOTE_ASSETS_DIR="/path/to/remote/assets/directory/"		# Remote Assets Directory, to pull down images &c.
#LOCAL_ASSETS_DIR="/path/to/local/assets/directory"
#FURNITUREDIR="/path/to/local/furniture/directory"


